<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@food_stall, @menu] do |f| %>
      <%= f.label 'Add dishes to the menu.' %>
      <%= f.association :food_item, collection: FoodItem.all, input_html: { multiple: true, class: 'search-fields', size: '15' },label_method: lambda { |item| "#{item.food_category.name} #{item.name}" }, size: '200' %>
      <div class="mb-5">
      <%= f.button :submit, "Create menu", class: "btn search-button-styled mt-2 form-control", style: "width: 50%;" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<!--

<%= simple_fields_for :recommendation do |o| %>
            <%= o.input :option, collection: @food_recommendation, label_method: lambda { |rec| "#{rec.food_category.name.capitalize} #{rec.name.capitalize}" }, required: false,  label: "Would you recommend any dishes from #{@food_stall.name.capitalize}?", input_html: { multiple: true, class: 'search-fields' } %>
        <% end %>
 -->
