<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 search_results">

<!-- <div class="m-auto" style="width: 550px"> -->

<%= simple_form_for [@food_stall] do |f| %>
  <%= f.input :name, input_html: { class: 'search-fields' }  %>
  <%= f.input :description, input_html: { class: 'search-fields' } %>
  <%= f.input :food_type, input_html: { class: 'search-fields' }, collection: ["Tacos", "Tortas", "Soups", "Burritos", "Tamales", "Gorditas", "Quesadillas", "Enchiladas", "Chilaquiles", "Diserts", "Buffet", "Snacks"] %>
  <%= f.input :vegetarian, input_html: { class: 'search-fields' }, label: 'Has vegetarian options'%>
  <%= f.input :address, input_html: { class: 'search-fields' } %>
  <%= f.input :phone_number, input_html: { class: 'search-fields' } %>
  <%= f.input :schedule, input_html: { class: 'search-fields' }, label: 'Hours' %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>

  <div class="mb-5">
  <%= f.submit "Add stall", class: "btn search-button-styled mt-2 form-control", style: "width: 100%;" %>
  </div>
<% end %>

<!-- </div> -->

    </div>
  </div>
</div>
