<div class="container menu pt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="title"><%= @food_stall.name %></h2>
      <h2>Translated Menu</h2>

      <% @food_categories.each do |food_category| %>
        <h3><%= food_category.name %></h3>
        <%= image_tag food_category.image_url, size: "120x120", style: "object-fit: cover;", class: "mb-2" %>
        <p><%= food_category.description %></p>

        <% @food_stall.food_items.each do |food_item| %>
          <% if food_item.food_category == food_category %>
            <p style="font-weight: bold; margin: 0px; padding: 0px;"><%= food_item.name %></p>
            <%= image_tag food_item.image_url, size: "120x120", style: "object-fit: cover;", class: "mb-2" %>
            <p><%= food_item.description %></p>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>


