<% if @search_results.present? %>
  <div
     class="mb-3"
     id="map"
     style="width: 100%; height: 320px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 search_results">

        <div class="mb-3 mt-1 search-path" >
        <% if params[:query].present? %>
          <a href="#"><%= params[:query].capitalize %></a>
        <% else %>
          <a href="#">All Foods</a>
        <% end %>
          <% if params[:location2].present? %>
            <a href="#">Near You</a>
          <% elsif params[:location].present? %>
            <a href="#">Near "<%= params[:location] %>"</a>
          <% else %>
            <a href="#">in Mexico City</a>
          <% end %>
        </div>

        <% list_counter = 1 %>
        <% distance_value = 0 %>

      <% @search_results.each do |result| %>
        <div class="search-card mb-3">
          <% if result.photos.attached? %>
            <div class="mb-2 mt-1">
              <% result.photos.take(4).each do |photo| %>
                <%= cl_image_tag photo.key, size:"70x70", style:"border-radius: 6px;" %>
              <% end %>
            </div>
        <% end %>

        <div class="">

          <div class="search-flexbox">

            <div class="counter-styled">
              <%= list_counter %>.
              <%= link_to result.name, food_stall_path(result) %>
            </div>

            <% if @distances_array.present? %>
            <div id="distance-time-indicator" >
            <%= @distances_array[distance_value] %> km <span style="color: grey;">|</span> <%= '%d:%02d' % (@time_array[distance_value] / 60).round(0).divmod(60) %> <i class="fas fa-walking" style="font-size: 9px;"></i>
            </div>
            <% end %>
        </div>



              <div style="line-height: 14px;">
                <% result.rating.times do %>
                  <i class="fas fa-star star-color" style="font-size: 12px;"></i>
                <% end %>

                <% if result.reviews.count == 0 %>
                  <span style="font-size: 14px; color: #484848; ">No reviews yet</span>
                <% elsif result.reviews.count == 1 %>
                  <span style="font-size: 14px;">1 review</span>
                <% else %>
                  <span style="font-size: 14px;"><%= result.reviews.count %> reviews</span>
                <% end %>
              </div>

              <p style="margin: 0px; padding:0px; color: #4E4C54; font-size: 13px;"><%= result.main_category %></p>
              <p style="margin: 0px; padding:0px; color: #4E4C54; font-size:10px;"><%= result.address %></p>


              <% list_counter += 1 %>
              <% distance_value += 1 %>
          </div>




      </div>
      <hr>
      <% end %>
    <% else %>
    <div class="container menu pt-3">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <div class="show text-center">
          <h1>No results found :(</h1>
          </div>
        </div>
      </div>
    </div>

    <% end %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'mapbox' %>



