<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

      <h1><%= @food_stall.name %> | <%= link_to @food_stall.food_type, food_stall_path %></h1>
      <h2>
        <% if @food_stall.rating == 0 %>
          <span>No reviews yet</span>
        <% else %>
          <% @food_stall.rating.times do %>
          ⭐️
          <% end %>
        <% end %>
      </h2>
      <% @food_stall.photos.each do |photo| %>
              <%= cl_image_tag photo.key %>
          <% end %>

      <%= link_to '⮑ Get directions', @directions_url %>
      <h2>Photos will go here</h2>
      <div class=""><%= link_to 'Translated Menu', menu_food_stall_path, style:"margin-right: 16px"%> <%= link_to 'Popular food',  popular_foods_food_stall_path(@food_stall) %></div>
      <hr>
      <h1>Reviews</h1>
      <%= link_to 'Review this food stall', new_food_stall_review_path(@food_stall), data: { turbolinks: false } %>

      <form action="" method="get" id="search_review" class="mb-2">
        <input type="text" name="search_review_params">
        <input type="submit" value="Search reviews" class="btn btn-primary">
      </form>

      <% @food_stall.reviews.each do |review| %>
        <div class="d-flex">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" width="30px" height="30px" alt="" style="margin-right: 8px; border-radius: 15px;">
          <div>
            <p class="review"><%= review.user.email %></p>
            <p style="margin-bottom: 0px;">Vouches: 4</p>
          </div>
        </div>

        <p class="review"><% review.rating.times do %>
          ⭐️
        <% end %></p>
        <p class="review"><%= review.content %></p>
        <hr>
      <% end %>



    </div>

  </div>

</div>



