<div class="container show mt-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="d-flex justify-content-between">
        <h1 style="margin-bottom: 4px;"><span style="font-weight: 500;"><%= @food_stall.name %></span> <span style="color: #666666;">|</span> <%= link_to @food_stall.main_category.capitalize, food_stall_path, style: "color: black; font-weight: 400; font-size: 15px;" %> <% if current_user.admin == true %> [<%= link_to 'Edit', edit_food_stall_path(@food_stall) %>]<% end %></h1>
        <div>
        <%= link_to favorite_foodstalls_update_path(food_stall: @food_stall), remote: true do %>
          <i class="<%= favorite_text %> mr-2" style="color: #eb5f42; font-size: 18px;" id='favorite_link'></i>
        <% end %>
        <%= link_to recommendations_update_path(food_stall: @food_stall), remote: true do %>
          <i class="<%= recommendation_text %>" style="color: #376977; font-size: 18px;" id='recommendation_link'></i>
        <% end %>
        </div>
      </div>

      <h2 style="margin-bottom: 4px;">
        <% if @food_stall.rating.nil? %>
          <span>No ratings yet</span>
        <% else %>
          <% @food_stall.rating.times do %>
          <i class="fas fa-star star-color" style="letter-spacing: -3px;"></i>
          <% end %>

          <% if @food_stall.reviews.count == 0 %>
            <span style="font-size: 16px; color: #484848;">No reviews yet</span>
          <% elsif @food_stall.reviews.count == 1 %>
            <span>&nbsp;1 review</span>
          <% else %>
            <span>&nbsp;<%= @food_stall.reviews.count %> reviews</span>
          <% end %>

        <% end %>
      </h2>
      <i class="fas fa-directions"></i> <%= link_to 'Get Directions', @directions_url %> <br>
      <p style="margin-bottom: 0px;"><%= @food_stall.address %></p>
      <hr style="margin: 4px 0px 12px 0px ;">
      <div style="">
        <% if @food_stall.menus.present? %>
          <%= link_to 'Translated Menu', menu_food_stall_path, class: "secondary-button", style:"margin-right: 8px"%>
        <% else %>
          <%= link_to 'Add menu', new_food_stall_menu_path(@food_stall), class: "secondary-button", style:"margin-right: 16px" %>
        <% end %>
        <%= link_to 'Popular food', popular_foods_food_stall_path(@food_stall), class: "secondary-button" %>
      </div>

    </div>
  </div>
</div>

      <% if @food_stall.photos.attached? %>
      <div style="background-color: #f5f5f5; padding: 12px 0px 4px 0px; margin: 12px 0px 16px 0px;">
        <div class="container">
          <h4>PHOTOS</h4>
        </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">

              <div class="carousel-inner rounded mb-3" style="width:100%; height: 300px !important;">
                <div class="carousel-item active">
                  <%= cl_image_tag @food_stall.photos.first.key,  class: "d-block w-100", alt: "first slide" %>
                </div>

                <% @food_stall.photos.drop(1).each do |photo| %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key,  class: "d-block w-100", alt: "a slide" %>
                  </div>
                <% end %>
              </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>

              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      <% end %>
    </div>

<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

      <h4>REVIEWS</h4>
      <%= link_to 'Write a Review', new_food_stall_review_path(@food_stall), class: "secondary-button", data: { turbolinks: false } %>

      <!-- <form action="" method="get" id="search_review" class="mb-2 mt-2">
        <input type="text" name="search_review_params" class="search-fields">
        <input type="submit" value="Search Reviews" class="btn search-button-styled form-control", style="width: 40%;">
      </form> -->
      <div class="mb-3">
      </div>
      <% @food_stall.reviews.each do |review| %>
        <div class="d-flex">


<% if review.user.photo.attached? %>
  <%= link_to user_path(review.user) do %>
    <%= cl_image_tag review.user.photo.key, gravity: :face, crop: :thumb, height: 400, width: 400, class: "avatar", style:"margin-right: 8px;" %>
  <% end %>
  <% else %>
    <%= link_to user_path(review.user) do %>
    <%= image_tag "https://res.cloudinary.com/vc334/image/upload/v1589058566/ldy28x5xt9skq4f2gdznnrs8p490.png", class: "avatar", style:"margin-right: 8px;" %>
  <% end %>
<% end %>






          <!-- <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" width="30px" height="30px" alt="" style="margin-right: 8px; border-radius: 15px;"> -->
          <div>

            <!-- <div class="d-flex"> -->
            <% if review.user.first_name.present? && review.user.last_name.present? %>
              <p class="review"><%= review.user.first_name.capitalize %> <%= review.user.last_name.first.capitalize %>.</p>
            <% else %>
              <p class="review">Anonymous user</p>
            <% end %>
<!--
            <% if review.user.distance_to(@food_stall) < 50 %>
              <span class="reviewed-local-badge ml-2">Local</span>
            <% end %> -->

    <!-- </div> -->
            <p style="margin-bottom: 0px;">Vouches: <%= review.user.received_vouches.count %></p>

          </div>



        </div>

        <p class="review"><% review.rating.times do %>
          <i class="fas fa-star star-color" style="font-size: 10px; letter-spacing: -2px;"></i>
        <% end %></p>
        <p class="review"><%= review.content %></p>
        <hr>
      <% end %>



    </div>
  </div>
</div>



