<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

      <h1><%= @food_stall.name %> | <%= link_to @food_stall.food_type, food_stall_path %></h1>
      <h2>
        <% @food_stall.rating.times do %>
        ⭐️
        <% end %>
      </h2>
      <!-- <% @food_stall.rating.times do %> -->
        <!-- <span>⭐️</span> -->
      <!-- <% end %> -->
      <%= link_to '🗺 Directions', food_stall_path %>
      <h2>Photos will go here</h2>
      <div class="d-flex justify-content-between"><%= link_to 'Reviews' %> <%= link_to 'Translated Menu', menu_food_stall_path %> <%= link_to 'Popular food' %></div
      <hr>



      <hr>
      <h1>Reviews</h1>

      <form action="" method="get" id="search_review">
        <input type="text" name="search_review_params">
        <input type="submit" value="Enter now" class="btn btn-primary">
      </form>

      <% @food_stall.reviews.each do |review| %>
        <p class="review"><%= review.user.email %></p>
        <p class="review"><% review.rating.times do %>
          ⭐️
        <% end %></p>
        <p class="review"><%= review.content %></p>
        <hr>
      <% end %>

      <%= link_to 'Review this food stall', new_food_stall_review_path(@food_stall) %>

    </div>

  </div>

</div>



