<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

  <div class="form-actions" style="display:flex; justify-content: space-between;">
    <%= f.button :submit, "Log in", class: "btn btn-lg", style: "background-color: #376977; color: white; justify-contents: space-around;" %>
<%= render "users/shared/links" %>
<% end %>


</div>
    </div>
  </div>
</div>
