<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@user] do |f| %>
        <%= f.input :first_name, placeholder: 'First Name' %>
        <%= f.input :last_name, placeholder: 'Last Name' %>
        <%= f.input :home_town, label: 'Hometown', placeholder: 'Where did you grow up?' %>
        <%= f.input :current_city, placeholder: "Where do you live now?" %>
        <%= f.input :photo, label: 'Profile photo',  as: :file %>
        <%= f.submit "Submit", class: "btn search-button-styled mt-2 form-control" %>
      <% end %>
    </div>
  </div>
</div>
