<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 pt-2 default-font" style="background-color: #ffd260;" >


     <!--  <div class="show text-center mt-2">
        <h1>Profile</h1>
      </div> -->

      <div class="profile" style="display: flex; padding-top: 5px;">
        <div style="height: 180px; width: 200; display: flex; flex-direction: column; justify-content: space-between; text-align: center;">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, gravity: :face, crop: :thumb, height: 400, width: 400, style: "border-radius: 50%", class: "avatar-small" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/vc334/image/upload/v1589058566/ldy28x5xt9skq4f2gdznnrs8p490.png", height: 150, width: 200, crop: :fill %>
          <% end %>
        </div>
        <div class="profile-info" style="margin-left: 20px; margin-top: 28px;">
          <p style="font-weight: 500; margin-bottom: 2px; font-size: 20px;"><%= @user.first_name.capitalize %> <%= @user.last_name.first.capitalize %>.</p>
          <p style="margin-bottom: 2px;"><i class="fas fa-home" style="color: #60656C;"></i> Lives in <span style="font-weight: 500;"><%= @user.current_city %></span></p>
          <p>&nbsp;<i class="fas fa-map-marker-alt" style="color: #60656C;"></i>&nbsp;<span style="margin-left: 2px;">From</span> <span style="font-weight: 500;"><%= @user.home_town %></span></p>
        </div>
      </div>

          </div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">

      <div class="vouches">
        <h4>VOUCHES (<%= @user.received_vouches.count %>)</h4>



      <!--   <% if @user.received_vouches.count == 0 %>
          <h4>No vouches yet</h4>
        <% elsif @user.received_vouches.count == 1 %>
          <h4>1 vouch</h4>
        <% else %>
          <h4><%= @user.received_vouches.count %> vouches </h4>
        <% end %> -->

        <% if @user.received_vouches.blank? %>
          Be the first to vouch for <%= @user.first_name %>
        <% else %>
          <div class="vouches">
          <%= render 'shared/vouches' %>
        </div>
        <% end %>

        <%= simple_form_for([ @user, @vouch ] ) do |f| %>
          <%= f.input :content, as: :text, placeholder: "Write something nice about #{@user.first_name}", label: false %>
          <%= f.button :submit, 'Vouch', :class => 'secondary-button' %>
        <% end %>


      </div>
       <hr>

    <h4><%= @user.first_name.upcase %>'S STALL RECOMMENDATIONS (<%= @user.recommendations.count %>)</h4>

    <% if @recommendations_list.present? %>
            <div class="text-center mt-3">
            <!-- <h1 style="font-size: 18px; font-weight: 500;">Recommendations</h1> -->
            </div>

            <% list_counter = 1 %>

          <% @recommendations_list.each do |result| %>
            <div class="search-card mb-3">
              <% if result.photos.attached? %>
                <div class="mb-2 mt-1">
                  <% result.photos.take(4).each do |photo| %>
                    <%= cl_image_tag photo.key, size:"70x70", style:"border-radius: 6px;" %>
                  <% end %>
                </div>
            <% end %>

            <div class="">

              <div class="search-flexbox">

                <div class="counter-styled">
                  <%= list_counter %>.
                  <%= link_to result.name, food_stall_path(result) %>
                </div>


            </div>



                  <div style="line-height: 14px;">
                    <% result.rating.times do %>
                      <i class="fas fa-star star-color" style="font-size: 12px;"></i>
                    <% end %>

                    <% if result.reviews.count == 0 %>
                      <span style="font-size: 14px; color: #484848; ">No reviews yet</span>
                    <% elsif result.reviews.count == 1 %>
                      <span style="font-size: 14px;">1 review</span>
                    <% else %>
                      <span style="font-size: 14px;"><%= result.reviews.count %> reviews</span>
                    <% end %>
                  </div>

                  <p style="margin: 0px; padding:0px; color: #4E4C54; font-size: 13px;"><%= result.main_category %></p>
                  <p style="margin: 0px; padding:0px; color: #4E4C54; font-size:10px;"><%= result.address %></p>


                  <% list_counter += 1 %>

              </div>

          </div>
          <hr>
          <% end %>
        <% else %>
          No food stalls recommended yet.
        <% end %>









<!--     <div class="recommendations" style="padding-top: 10px;">
      <div class="recommendation">
        <img src="https://www.dinneratthezoo.com/wp-content/uploads/2018/05/ground-beef-tacos-2.jpg" />
        <div class="card-product-infos">
          <h2>El Progresso</h2>
          <p>⭐️⭐️⭐️⭐️⭐️(10 Reviews)</p>
        </div>
      </div>
      <div class="recommendation">
        <img src="https://img.chilango.com/2017/10/tacos-orinoco.jpg" />
        <div class="card-product-infos">
          <h2>Orinocos</h2>
          <p>⭐️⭐️⭐️⭐️⭐️(15 Reviews)</p>
        </div>
      </div>
    </div>
    <a href="#"><p style="text-align: center; font-size: 13px; padding-top: 20px;">See All</p></a>
    <hr> -->

  <div>
    <%= link_to 'Edit Profile', edit_user_path(@user), class:"btn search-button-styled form-control", style: "color: white;" %>
  </div>

    </div>
  </div>
</div>


  <!-- <div class="Vouches" style="padding-top: 10px;">
    <div class="vouch" style="display: flex; padding-top: 10px;">
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="" style="width: 40px; height: 30px;">
      <p style="padding-left: 20px;"><strong>Victor:</strong> This is my vouch</p>
    </div>
    <div class="vouch" style="display: flex;">
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="" style="width: 40px; height: 30px;">
      <p style="padding-left: 20px;"><strong>Rod:</strong> This is my vouch</p>
    </div>
    <div class="vouch" style="display: flex;">
      <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="" style="width: 40px; height: 30px;">
      <p style="padding-left: 20px;"><strong>Random_guy:</strong> Yeeeee haaaaw - I like dat dem der tacos </p>
    </div>
  </div>
 -->
  <!-- <a href="#"><p style="text-align: center; font-size: 13px;">See All</p></a> -->
