  <% @user.received_vouches.each do |vouch| %>
    <div class="d-flex mb-3 default-font">
      <div>
    <% if vouch.voucher.photo.attached? %>
      <%= link_to user_path(vouch.voucher) do %>
        <%= cl_image_tag vouch.voucher.photo.key, gravity: :face, crop: :thumb, height: 400, width: 400, class: "avatar", style:"margin-right: 8px;" %>
      <% end %>
    <% else %>
      <%= link_to user_path(vouch.voucher) do %>
        <%= image_tag "https://res.cloudinary.com/vc334/image/upload/v1589058566/ldy28x5xt9skq4f2gdznnrs8p490.png", class: "avatar", style:"margin-right: 8px;" %>
      <% end %>
    <% end %>
  </div>
  <div class="default-font">
    <span style="font-weight: 500;"><%= vouch.voucher.first_name %> <%= vouch.voucher.last_name.first.upcase %>.</span> says
"<%= vouch.content %>"
</div>
</div>
  <% end %>
