<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@food_stall, @review], defaults: { required: false } do |f| %>
        <%= f.input :content, input_html: { class: 'search-fields' }, label: "Review #{@food_stall.name}" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>

        <%= simple_fields_for :recommendation do |o| %>
            <%= o.input :option, collection: @food_recommendation, label_method: lambda { |rec| "#{rec.food_category.name.capitalize} #{rec.name.capitalize}" }, required: false,  label: "Would you recommend any dishes from #{@food_stall.name.capitalize}?", input_html: { multiple: true, class: 'search-fields' } %>
        <% end %>

        <%= f.submit class: "btn search-button-styled mt-2 form-control", style: "width: 100%;", value: "Submit Review" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:star_rating) do %>
<%= javascript_pack_tag 'star_rating' %>
<% end %>


<!-- @food_recommendation.map{|v| v.food_category.name.capitalize + " " + v.name} -->
