<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@food_stall, @review] do |f| %>
        <%= f.input :content, input_html: { class: 'search-fields' }, label: "Review #{@food_stall.name}" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit class: "btn search-button-styled mt-2 form-control", value: "Submit Review" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:star_rating) do %>
<%= javascript_pack_tag 'star_rating' %>
<% end %>
